{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Menaxho Platformat
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="row">
          {% for network in networks %}

          <div class="col-md-6 col-xl-4 mb-5  ">
            <div class="card card-portfolio h-100" href="/edit_network/{{ network.id }}"><img class="card-img-top" style="height:300px; ;object-fit: cover;" src="{{ network.network_pic }}" alt="...">
              <div class="row"> 
              <div class="col-6 card-body text-left"><div class="card-title">{{ network.network_name }}</div></div>
                <div class="col-6 card-body text-right">  
                <a href="/delete_network/{{ network.id }}" class="btn btn-sm bg-teal">
                  <i class="fas fa-times"></i> Delete
                </a>
                <a href="/edit_network/{{ network.id }}" class="btn btn-sm btn-primary">
                  <i class="fas fa-edit"></i> Edito
                </a></div>
                </div> 
              </div>


        </div>
        {% endfor %}

      </div>
    </div>
      </div>
    </section>
    
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
    $(document).ready(function(){
      var network_name_list={{ network_name_list|safe }};
      var movie_network_list={{ movie_network_list }};




      var barChartData3 = {
                          labels  : network_name_list,
                          datasets: [
                            {
                              label               : 'Filma',
                              backgroundColor     : 'rgba(60,141,188,0.9)',
                              borderColor         : 'rgba(60,141,188,0.8)',
                              pointRadius          : false,
                              pointColor          : '#3b8bba',
                              pointStrokeColor    : 'rgba(60,141,188,1)',
                              pointHighlightFill  : '#fff',
                              pointHighlightStroke: 'rgba(60,141,188,1)',
                              data                : movie_network_list
                            },
            
                          ]
                        }
                        var barChartCanvas3 = $('#barChart3').get(0).getContext('2d')
                        var temp0 = barChartData3.datasets[0]
                       

                        var barChartOptions3 = {
                          responsive              : true,
                          maintainAspectRatio     : false,
                          datasetFill             : false
                        }
                        var barChart3 = new Chart(barChartCanvas3, {
                          type: 'bar',
                          data: barChartData3,
                          options: barChartOptions3
                        })

       });
</script>
{% endblock custom_js %}

